<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>menu</string>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>tlt_main_features</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>tlt_home</string>
					<key>icon</key>
					<string>ic_menu_home</string>
					<key>s_identifier</key>
					<string>HomeCollectionViewController</string>
					<key>sb</key>
					<string>Main</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_songs</string>
					<key>icon</key>
					<string>ic_menu_songs</string>
					<key>s_identifier</key>
					<string>MusicViewController</string>
					<key>sb</key>
					<string>Main</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string>song</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_beat</string>
					<key>icon</key>
					<string>ic_menu_beat</string>
					<key>s_identifier</key>
					<string></string>
					<key>sb</key>
					<string>Main</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_video</string>
					<key>icon</key>
					<string>ic_menu_video</string>
					<key>s_identifier</key>
					<string>MusicViewController</string>
					<key>sb</key>
					<string>Main</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string>video</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_album</string>
					<key>icon</key>
					<string>ic_menu_album</string>
					<key>s_identifier</key>
					<string>MusicViewController</string>
					<key>sb</key>
					<string>Main</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string>album</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_single</string>
					<key>icon</key>
					<string>ic_menu_single</string>
					<key>s_identifier</key>
					<string>MusicViewController</string>
					<key>sb</key>
					<string>Main</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string>single</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_download</string>
					<key>icon</key>
					<string>ic_menu_download</string>
					<key>s_identifier</key>
					<string>MyMusicViewController</string>
					<key>sb</key>
					<string>Main</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string>offline</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_favourite_music</string>
					<key>icon</key>
					<string>ic_menu_favourite</string>
					<key>s_identifier</key>
					<string>MyMusicViewController</string>
					<key>sb</key>
					<string>Main</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string>online</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>tlt_live_streaming</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>tlt_live_streaming</string>
					<key>icon</key>
					<string>ic_menu_live_streaming</string>
					<key>s_identifier</key>
					<string>LiveStreamingViewController</string>
					<key>sb</key>
					<string>Live</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>tlt_other</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>tlt_social_network</string>
					<key>icon</key>
					<string>ic_menu_social</string>
					<key>s_identifier</key>
					<string>SocialViewController</string>
					<key>sb</key>
					<string>Social</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_news</string>
					<key>icon</key>
					<string>ic_menu_news</string>
					<key>s_identifier</key>
					<string>NewsViewController</string>
					<key>sb</key>
					<string>Other</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_photo</string>
					<key>icon</key>
					<string>ic_menu_photo</string>
					<key>s_identifier</key>
					<string>PhotoViewController</string>
					<key>sb</key>
					<string>Other</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_show</string>
					<key>icon</key>
					<string>ic_menu_show</string>
					<key>s_identifier</key>
					<string>ShowViewController</string>
					<key>sb</key>
					<string>Other</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>tlt_tools</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>tlt_guide</string>
					<key>icon</key>
					<string>ic_menu_guide</string>
					<key>s_identifier</key>
					<string></string>
					<key>sb</key>
					<string>Other</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>tlt_setting</string>
					<key>icon</key>
					<string>ic_menu_settings</string>
					<key>s_identifier</key>
					<string>SettingsViewController</string>
					<key>sb</key>
					<string>Other</string>
					<key>direction</key>
					<false/>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
