<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1092741262082-46olv53vjvidri1r70p60nlo8clo9pdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092741262082-46olv53vjvidri1r70p60nlo8clo9pdc</string>
	<key>API_KEY</key>
	<string>AIzaSyAO54Dpoo4DSsS3BAxtDLlyfAM9POA6fag</string>
	<key>GCM_SENDER_ID</key>
	<string>1092741262082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zilack.music.dobaomusician</string>
	<key>PROJECT_ID</key>
	<string>music-dobao</string>
	<key>STORAGE_BUCKET</key>
	<string>music-dobao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092741262082:ios:5652aad5116ecf28</string>
	<key>DATABASE_URL</key>
	<string>https://music-dobao.firebaseio.com</string>
</dict>
</plist>