<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actions</key>
	<array>
		<dict>
			<key>name</key>
			<string>Donwload</string>
			<key>actionid</key>
			<string>media_action_download</string>
			<key>actiontype</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>AddFavourite</string>
			<key>actionid</key>
			<string>media_action_add_favourite</string>
			<key>actiontype</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>AddPlaylist</string>
			<key>actionid</key>
			<string>media_action_add_playlist</string>
			<key>actiontype</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Delete</string>
			<key>actionid</key>
			<string>media_action_delete</string>
			<key>actiontype</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Sharing</string>
			<key>actionid</key>
			<string>media_action_sharing</string>
			<key>actiontype</key>
			<integer>4</integer>
		</dict>
	</array>
</dict>
</plist>
