<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Delete</string>
		<key>icon</key>
		<string>ic_media_trash_gray</string>
		<key>iconhl</key>
		<string>ic_media_trash_hl</string>
		<key>actiontype</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
