<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>comment</key>
		<string>Status section</string>
		<key>sectionstyle</key>
		<string>0</string>
		<key>title</key>
		<string></string>
		<key>numbercolumn</key>
		<integer>1</integer>
		<key>numbercolumn_extend</key>
		<integer>1</integer>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Video section</string>
		<key>sectionstyle</key>
		<string>1</string>
		<key>title</key>
		<string>tlt_video</string>
		<key>numbercolumn</key>
		<integer>1</integer>
		<key>numbercolumn_extend</key>
		<integer>2</integer>
		<key>icon</key>
		<string>ic_home_section_video</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Album section</string>
		<key>sectionstyle</key>
		<string>2</string>
		<key>title</key>
		<string>tlt_album</string>
		<key>numbercolumn</key>
		<integer>2</integer>
		<key>numbercolumn_extend</key>
		<integer>3</integer>
		<key>icon</key>
		<string>ic_home_section_album</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Songs section</string>
		<key>sectionstyle</key>
		<string>3</string>
		<key>title</key>
		<string>tlt_songs</string>
		<key>numbercolumn</key>
		<integer>3</integer>
		<key>numbercolumn_extend</key>
		<integer>3</integer>
		<key>icon</key>
		<string>ic_home_section_song</string>
	</dict>
</array>
</plist>
